Repository LLNL/benchpark, pull requests merged in 2024-01, with the labels that each got.

#91 Parse system definition yaml files to table in docs
  configs/AWS_PCluster_Hpc7a-zen4-EFA/system_definition.yaml
  configs/HPECray-zen3-MI250X-Slingshot/system_definition.yaml
  configs/IBM-power9-V100-Infiniband/system_definition.yaml
  configs/Penguin-icelake-OmniPath/system_definition.yaml
  configs/x86_64/system_definition.yaml
  docs/4-benchpark-setup.rst
  docs/Makefile
  docs/_static/.gitignore
  docs/_static/css/custom.css
  docs/available-system-specs.rst
  docs/conf.py
  docs/generate-sys-defs-list.py
  docs/index.rst
  docs/tables/current-system-definitions.csv
Labels: documentation

#94 Fix Dependabot Config & Expand to Manage Python CI Deps
  .github/dependabot.yml
Labels: ci, dependencies

#95 Add Nightly CI to Continually Test Benchmark Builds and Runs
  .github/workflows/nightly.yml
Labels: ci

#96 Save Workspace Archive as CI Artifact
  .github/workflows/run.yml
Labels: ci

#104 Run `isort` and `codespell` Against Repo & Add to CI
  .github/workflows/bin/license
  .github/workflows/docs.yml
  .github/workflows/requirements/docs.txt
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  bin/benchpark
  docs/generate-sys-defs-list.py
  pyproject.toml
  repo/amg2023/application.py
  repo/cray-mpich/package.py
  repo/cublas/package.py
  repo/hypre/package.py
  repo/lapack-xl/package.py
  repo/lbann/application.py
  repo/raja-perf/application.py
  repo/raja-perf/package.py
  repo/rocblas/package.py
  repo/rocsolver/package.py
  repo/saxpy/application.py
  repo/saxpy/package.py
Labels: ci, dependencies, style

#105 Automatically Label PRs Based on Files Changed
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci

#106 Clean up legacy manual workflow calls
  .github/workflows/docs.yml
  .github/workflows/license.yml
  .github/workflows/run.yml
  .github/workflows/style.yml
Labels: ci

#108 Remove site-specific details from Ramble config
  configs/HPECray-zen3-MI250X-Slingshot/spack.yaml
Labels: configs

#112 Add caliper to saxpy
  repo/saxpy/CMakeLists.txt
  repo/saxpy/config.hh.in
  repo/saxpy/package.py
  repo/saxpy/saxpy.cc
Labels: application

#109 Create script to bundle 3 instructions into 1
  .github/workflows/run.yml
  bin/benchpark
Labels: ci

#114 Feature saxpy caliper support
  repo/saxpy/saxpy.cc
Labels: application

#115 Feature saxpy caliper support
  repo/saxpy/saxpy.cc
Labels: application

#116 Separating generic systems and site specific systems
  .github/workflows/run.yml
  configs/HPECray-zen3-MI250X-Slingshot/variables.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/compilers.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/spack.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/system_definition.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/variables.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/spack.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/system_definition.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/variables.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/spack.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/system_definition.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/variables.yaml
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/README.txt
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/auxiliary_software_files/compilers.yaml
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/auxiliary_software_files/packages.yaml
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/spack.yaml
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/system_definition.yaml
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/variables.yaml
  configs/nosite-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  configs/nosite-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  configs/nosite-HPECray-zen3-MI250X-Slingshot/spack.yaml
  configs/nosite-HPECray-zen3-MI250X-Slingshot/system_definition.yaml
  configs/nosite-HPECray-zen3-MI250X-Slingshot/variables.yaml
  configs/nosite-x86_64/spack.yaml
  configs/nosite-x86_64/system_definition.yaml
  configs/nosite-x86_64/variables.yaml
  docs/add-a-site-specific-system-config.rst
  docs/add-a-system-config.rst
  docs/index.rst
  docs/tables/current-system-definitions.csv
Labels: docs, ci, configs

#125 docs: fix broken page reference, warnings
  docs/add-a-site-specific-system-config.rst
  docs/add-a-system-config.rst
  docs/tables/current-system-definitions.csv
Labels: docs
