Repository LLNL/benchpark, pull requests merged in 2024-04, with the labels that each got.

#191 docs: add green coloring to match logo
  docs/_static/css/custom.css
  docs/conf.py
Labels: docs

#196 Benchpark: use requirements.txt from Ramble
  .github/workflows/ci.yml
  .github/workflows/requirements/docs.txt
  .github/workflows/run.yml
  bin/benchpark
  checkout-versions.yaml
  requirements.txt
Labels: ci

#193 caliper top-down modifier
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/packages.yaml
  modifiers/caliper-topdown/configs/modifier.yaml
  modifiers/caliper-topdown/modifier.py
Labels: configs

#194 caliper cuda modifier
  modifiers/caliper-cuda/configs/modifier.yaml
  modifiers/caliper-cuda/modifier.py
Labels: configs

#190 Add modifier docs
  bin/benchpark
  docs/3-opt-edit-experiment.rst
Labels: docs

#217 Tags command should use benchmarks not experiments
  bin/benchpark
  docs/generate-benchmark-list.py
Labels: docs

#216 ci: rebuild docs on changes to bin/benchpark
  .github/workflows/ci.yml
Labels: ci

#219 Update spack version
  checkout-versions.yaml
  experiments/raja-perf/mpi-only/ramble.yaml
  experiments/raja-perf/openmp/ramble.yaml
  experiments/saxpy/openmp/ramble.yaml
Labels: experiment

#214 Experiment/kripke new
  checkout-versions.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/spack.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  experiments/kripke/cuda/execute_experiment.tpl
  experiments/kripke/cuda/ramble.yaml
  experiments/kripke/openmp/execute_experiment.tpl
  experiments/kripke/openmp/ramble.yaml
  experiments/kripke/rocm/execute_experiment.tpl
  experiments/kripke/rocm/ramble.yaml
  repo/kripke/application.py
  repo/kripke/package.py
Labels: experiment, application
