Repository LLNL/benchpark, pull requests merged in 2024-03, with the labels that each got.

#151 Move generic constraints out of experiments
  bin/benchpark
  configs/common/spack_includes.yaml
  experiments/raja-perf/cuda/ramble.yaml
  experiments/raja-perf/openmp/ramble.yaml
  experiments/raja-perf/rocm/ramble.yaml
Labels: experiment, configs

#65 Starting tagging functionality
  .github/workflows/docs.yml
  .github/workflows/requirements/docs.txt
  bin/benchpark
  docs/2-benchpark-list.rst
  docs/Makefile
  docs/available-system-specs.rst
  docs/benchmark-list.rst
  docs/benchpark-help.rst
  docs/conf.py
  docs/generate-benchmark-list.py
  docs/generate-sys-defs-list.py
  docs/index.rst
  docs/tables/current-system-definitions.csv
  experiments/lbann/cuda/execute_experiment.tpl
  experiments/lbann/cuda/ramble.yaml
  experiments/lbann/rocm/execute_experiment.tpl
  experiments/streamc/openmp/execute_experiment.tpl
  experiments/streamc/openmp/ramble.yaml
  pyproject.toml
  repo/amg2023/application.py
  repo/lbann/application.py
  repo/raja-perf/application.py
  repo/saxpy/application.py
  tags.yaml
Labels: docs, feature, experiment, ci, dependencies, application

#171 Fix artifact upload for CI docs generation
  .github/workflows/docs.yml
Labels: ci

#172 Fix docs output path
  .github/workflows/docs.yml
Labels: ci

#173 Add benchpark logo to the repository and docs
  docs/_static/images/benchpark-dark.svg
  docs/_static/images/benchpark-icon-background.svg
  docs/_static/images/benchpark-icon.svg
  docs/_static/images/benchpark-light.svg
Labels: docs

#184 Add logo to README and docs generation
  README.rst
  docs/_static/images/benchpark-dark.svg
  docs/_static/images/benchpark-icon-background.svg
  docs/_static/images/benchpark-icon.svg
  docs/_static/images/benchpark-light.svg
Labels: docs

#180 add logo to docs
  docs/conf.py
Labels: docs

#185 Switch the way we launch jobs in CI
  .github/workflows/run.yml
Labels: ci

#187 docs: add note to install requirements before using benchpark
  docs/1-getting-started.rst
  requirements.txt
Labels: docs

#188 update README to fix rendering in docs
  README.rst
Labels: docs
