Repository LLNL/benchpark, pull requests merged in 2024-05, with the labels that each got.

#227 Update saxpy spec
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  experiments/saxpy/cuda/ramble.yaml
  experiments/saxpy/rocm/ramble.yaml
Labels: experiment, configs

#83 Adding Kripke to Benchpark
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/spack.yaml
  experiments/kripke/cuda/execute_experiment.tpl
  experiments/kripke/cuda/ramble.yaml
  experiments/kripke/openmp/execute_experiment.tpl
  experiments/kripke/openmp/ramble.yaml
  experiments/kripke/rocm/execute_experiment.tpl
  experiments/kripke/rocm/ramble.yaml
  repo/kripke/application.py
  repo/kripke/package.py
Labels: experiment, configs, application

#236 Update ramble version
  checkout-versions.yaml
Labels: bug

#243 Change default compiler on lassen from xl to clang-ibm
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/spack.yaml
  experiments/amg2023/cuda/ramble.yaml
  experiments/gromacs/cuda/ramble.yaml
  experiments/kripke/cuda/ramble.yaml
  experiments/raja-perf/cuda/ramble.yaml
  experiments/saxpy/cuda/ramble.yaml
Labels: experiment, configs

#209 Adding docs on using Ramble workspaces
  bin/benchpark
  docs/3-opt-edit-experiment.rst
  docs/4-benchpark-setup.rst
  docs/5-build-experiment.rst
  docs/FAQ-what-to-rerun.rst
  docs/add-a-benchmark.rst
  docs/add-an-experiment.rst
  docs/set-of-experiments.rst
Labels: docs

#248 remove step to remove gcc 13
  .github/workflows/run.yml
Labels: ci

#240 Streamlining terminology in docs
  README.rst
  docs/2-benchpark-list.rst
  docs/3-opt-edit-experiment.rst
  docs/4-benchpark-setup.rst
  docs/5-build-experiment.rst
  docs/FAQ-benchpark-repo.rst
  docs/FAQ-spack-ramble-dependence.rst
  docs/FAQ-what-to-rerun.rst
  docs/add-a-benchmark.rst
  docs/add-a-site-specific-system-config.rst
  docs/add-a-system-config.rst
  docs/add-an-experiment.rst
  docs/benchmark-list.rst
  docs/index.rst
  docs/system-list.rst
Labels: docs

#253 fixing: This test requires exactly two processes
  experiments/osu-micro-benchmarks/mpi-only/ramble.yaml
Labels: experiment

#256 remove unknown comments
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/compilers.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/packages.yaml
  docs/system/fugaku.rst
Labels: docs, configs

#255 adding r-ccs qcd benchmark
  experiments/qws/openmp/execute_experiment.tpl
  experiments/qws/openmp/ramble.yaml
  repo/qws/application.py
  repo/qws/package.py
  tags.yaml
Labels: experiment, application
