Repository LLNL/benchpark, pull requests merged in 2024-10, with the labels that each got.

#382 Fix Tioga system class
  .github/workflows/run.yml
  lib/benchpark/system.py
  var/exp_repo/experiments/saxpy/experiment.py
  var/sys_repo/systems/tioga/system.py
Labels: experiment, ci, configs

#352 Create amg2023 experiment.py
  .github/workflows/run.yml
  var/exp_repo/experiments/amg2023/experiment.py
Labels: experiment, ci, WIP

#386 [draft] Testing genesis
  .github/workflows/run.yml
Labels: ci, WIP

#384 Add test suite
  .envrc
  .github/workflows/run.yml
  bin/benchpark
  lib/benchpark/accounting.py
  lib/benchpark/cmd/setup.py
  lib/benchpark/cmd/unit_test.py
  lib/benchpark/paths.py
  lib/benchpark/repo.py
  lib/benchpark/runtime.py
  lib/benchpark/spec.py
  lib/benchpark/test/__init__.py
  lib/benchpark/test/conftest.py
  lib/benchpark/test/experiment.py
  lib/benchpark/test/paths.py
  lib/benchpark/test/spec_syntax.py
  lib/main.py
  pytest.ini
  spack.yaml
Labels: ci

#351 New System class: Sierra
  .github/workflows/run.yml
  var/sys_repo/systems/sierra/externals/base/00-packages.yaml
  var/sys_repo/systems/sierra/externals/cuda/00-version-10-1-243-packages.yaml
  var/sys_repo/systems/sierra/externals/cuda/01-version-11-8-0-packages.yaml
  var/sys_repo/systems/sierra/system.py
Labels: changes requested, ci, configs

#385 Testing QWS
  .github/workflows/run.yml
Labels: ci, WIP

#401 switch to long flags for ramble in docs
  docs/5-build-experiment.rst
  docs/6-run-experiment.rst
  docs/7-analyze-experiment.rst
  docs/FAQ-what-to-rerun.rst
Labels: docs

#396 ci: add local testing of modified benchmarks
  .gitlab-ci.yml
  .gitlab/ci/test.yml
Labels: ci, ready for review

#403 use ramble long flags
  docs/system/fugaku.rst
  lib/benchpark/cmd/setup.py
Labels: docs

#408 System class: Adding Dane to CTS
  .github/workflows/run.yml
  var/sys_repo/systems/cts/system.py
Labels: ci, configs

#356 Feature/new modifier implementation
  modifiers/caliper/modifier.py
  var/exp_repo/experiments/amg2023/experiment.py
  var/exp_repo/experiments/caliper/experiment.py
Labels: experiment, ci

#412 New System.py: Generic x86
  .github/workflows/run.yml
  var/sys_repo/systems/genericx86/system.py
Labels: ci, configs

#411 Workflow docs
  docs/FAQ-benchpark-repo.rst
  docs/FAQ-spack-ramble-dependence.rst
  docs/FAQ-what-to-rerun.rst
  docs/FAQ.rst
  docs/_static/images/workflow_fig.png
  docs/add-a-benchmark.rst
  docs/add-a-dryrun.rst
  docs/add-a-site-specific-system-config.rst
  docs/add-a-system-config.rst
  docs/add-all.rst
  docs/add-an-experiment.rst
  docs/analyze-experiment.rst
  docs/basic-usage.rst
  docs/benchpark-help.rst
  docs/benchpark-setup.rst
  docs/benchpark-workflow.rst
  docs/build-experiment.rst
  docs/example-workflow.rst
  docs/getting-started.rst
  docs/index.rst
  docs/legacy-getting-started.rst
  docs/llnl-tutorial.rst
  docs/modifiers.rst
  docs/run-experiment.rst
  docs/set-of-experiments.rst
  docs/system-list.rst
  docs/why-benchpark.rst
Labels: docs, ready for review

#375 Feature/experiment scaling
  lib/benchpark/experiment.py
  var/exp_repo/experiments/amg2023/experiment.py
  var/exp_repo/experiments/kripke/experiment.py
Labels: experiment, WIP

#414 docs: fix ramble links
  docs/add-a-system-config.rst
  docs/add-an-experiment.rst
  docs/analyze-experiment.rst
  docs/benchpark-setup.rst
  docs/modifiers.rst
Labels: docs, ready to merge

#415 docs: updates and setup script to add executable to path
  docs/add-a-dryrun.rst
  docs/add-a-system-config.rst
  docs/add-an-experiment.rst
  docs/benchpark-setup.rst
  docs/getting-started.rst
  docs/llnl-tutorial.rst
  docs/modifiers.rst
  setup-env.sh
Labels: docs

#404 Feature/variant helpers
  .github/workflows/run.yml
  lib/benchpark/cuda.py
  lib/benchpark/experiment.py
  lib/benchpark/openmp.py
  lib/benchpark/rocm.py
  lib/benchpark/scaling.py
  repo/amg2023/package.py
  repo/kripke/package.py
  var/exp_repo/experiments/amg2023/experiment.py
  var/exp_repo/experiments/caliper/experiment.py
  var/exp_repo/experiments/kripke/experiment.py
  var/exp_repo/experiments/quicksilver/experiment.py
  var/exp_repo/experiments/saxpy/experiment.py
  var/sys_repo/systems/sierra/system.py
Labels: experiment, ci, configs, application
