Repository LLNL/benchpark, pull requests merged in 2024-12, with the labels that each got.

#463 Update fugaku.rst
  docs/system/fugaku.rst
Labels: docs

#451 System.py for Fugaku
  .github/workflows/run.yml
  systems/fugaku/compilers/clang/00-clang-17-compilers.yaml
  systems/fugaku/compilers/fj/00-fj-4-compilers.yaml
  systems/fugaku/compilers/gcc/00-gcc-13-compilers.yaml
  systems/fugaku/externals/base/00-packages.yaml
  systems/fugaku/system.py
Labels: ci

#445 Starting hardware description section
  .github/workflows/run.yml
  systems/all_system_definitions/AWS_PCluster-zen-EFA/system_definition.yaml
  systems/all_system_definitions/Atos-rome-A100-Infiniband/system_definition.yaml
  systems/all_system_definitions/DELL-cascadelake-Infiniband/system_definition.yaml
  systems/all_system_definitions/DELL-sapphirerapids-OmniPath/system_definition.yaml
  systems/all_system_definitions/Fujitsu-A64FX-TofuD/system_definition.yaml
  systems/all_system_definitions/HPECray-haswell-P100-Infiniband/system_definition.yaml
  systems/all_system_definitions/HPECray-zen2-Slingshot/system_definition.yaml
  systems/all_system_definitions/HPECray-zen3-MI250X-Slingshot/system_definition.yaml
  systems/all_system_definitions/HPECray-zen4-MI300A-Slingshot/system_definition.yaml
  systems/all_system_definitions/IBM-power9-V100-Infiniband/system_definition.yaml
  systems/all_system_definitions/Penguin-icelake-OmniPath/system_definition.yaml
  systems/all_system_definitions/Supermicro-icelake-OmniPath/system_definition.yaml
  systems/all_system_definitions/x86_64/system_definition.yaml
  systems/aws-pcluster/system.py
  systems/llnl-cluster/compilers/gcc/00-gcc-12-compilers.yaml
  systems/llnl-cluster/compilers/intel/00-intel-2021-6-0-compilers.yaml
  systems/llnl-cluster/externals/base/00-packages.yaml
  systems/llnl-cluster/externals/mpi/00-gcc-packages.yaml
  systems/llnl-cluster/externals/mpi/01-intel-packages.yaml
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/compilers/gcc/00-gcc-12-compilers.yaml
  systems/llnl-elcapitan/compilers/rocm/00-rocm-551-compilers.yaml
  systems/llnl-elcapitan/compilers/rocm/01-rocm-543-compilers.yaml
  systems/llnl-elcapitan/externals/base/00-packages.yaml
  systems/llnl-elcapitan/externals/libsci/00-gcc-packages.yaml
  systems/llnl-elcapitan/externals/libsci/01-cce-packages.yaml
  systems/llnl-elcapitan/externals/mpi/00-gcc-ngtl-packages.yaml
  systems/llnl-elcapitan/externals/mpi/01-cce-ngtl-packages.yaml
  systems/llnl-elcapitan/externals/mpi/02-cce-ygtl-packages.yaml
  systems/llnl-elcapitan/externals/rocm/00-version-543-packages.yaml
  systems/llnl-elcapitan/externals/rocm/01-version-551-packages.yaml
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/externals/base/00-packages.yaml
  systems/llnl-sierra/externals/cuda/00-version-10-1-243-packages.yaml
  systems/llnl-sierra/externals/cuda/01-version-11-8-0-packages.yaml
  systems/llnl-sierra/system.py
Labels: ci

#387 Qws experiment class
  .github/workflows/run.yml
  experiments/qws/experiment.py
Labels: experiment, ci, WIP

#468 Aws system: integrate 6a/7a configs
  .github/workflows/run.yml
  systems/aws-pcluster/compilers/gcc/00-gcc-7-compilers.yaml
  systems/aws-pcluster/externals/base/00-packages.yaml
  systems/aws-pcluster/system.py
Labels: ci

#475 El Capitan System: make it easier to add rocm/mpi versions
  .github/workflows/run.yml
  lib/benchpark/system.py
  systems/llnl-elcapitan/compilers/rocm/00-rocm-551-compilers.yaml
  systems/llnl-elcapitan/compilers/rocm/01-rocm-543-compilers.yaml
  systems/llnl-elcapitan/externals/mpi/00-gcc-ngtl-packages.yaml
  systems/llnl-elcapitan/externals/mpi/01-cce-ngtl-packages.yaml
  systems/llnl-elcapitan/externals/mpi/02-cce-ygtl-packages.yaml
  systems/llnl-elcapitan/externals/rocm/00-version-543-packages.yaml
  systems/llnl-elcapitan/externals/rocm/01-version-551-packages.yaml
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/system.py
Labels: ci

#483 Adding a link to the spack docs on modules
  docs/add-a-system-config.rst
Labels: docs

#402 site CI: report job status, check for exit codes, add machines and benchmarks
  .gitlab-ci.yml
  .gitlab/ci/bin/exit-codes
  .gitlab/ci/test.yml
  lib/benchpark/experiment.py
Labels: ci

#494 Add an 'all' option to generate a ramble experiment for each defined workload
  .github/workflows/run.yml
  experiments/osu-micro-benchmarks/experiment.py
  lib/benchpark/experiment.py
  lib/benchpark/spec.py
Labels: experiment, ci

#476 Feature/gromacs
  .github/workflows/run.yml
  experiments/gromacs/experiment.py
  lib/benchpark/experiment.py
  repo/gromacs/package.py
  repo/rocm-consistency/package.py
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/externals/base/00-packages.yaml
  systems/llnl-sierra/externals/blas/00-version-10-1-243-packages.yaml
  systems/llnl-sierra/externals/blas/01-version-11-8-0-packages.yaml
  systems/llnl-sierra/externals/cuda/00-version-10-1-243-packages.yaml
  systems/llnl-sierra/externals/cuda/01-version-11-8-0-packages.yaml
  systems/llnl-sierra/externals/lapack/00-version-10-1-243-packages.yaml
  systems/llnl-sierra/externals/lapack/01-version-11-8-0-packages.yaml
  systems/llnl-sierra/system.py
Labels: experiment, ci, ready to merge, application

#429 Adding Phloem experiment class
  .github/workflows/run.yml
  experiments/phloem/experiment.py
  repo/phloem/application.py
  repo/phloem/package.py
Labels: experiment, ci, ready for review, application

#502 Update run.yml
  .github/workflows/run.yml
Labels: ci

#431 Adding Sandia microbenchmarks experiment class
  .github/workflows/run.yml
  experiments/smb/experiment.py
  repo/smb/application.py
  repo/smb/package.py
Labels: experiment, ci, ready for review, application

#501 add stage to skip if branch not a PR, default job is interruptible
  .gitlab-ci.yml
  .gitlab/skip-branch-not-a-pr.yml
Labels: ci

#511 Renaming tags.yaml to taxonomy.yaml
  docs/generate-benchmark-list.py
  lib/main.py
  taxonomy.yaml
Labels: docs
