Repository LLNL/benchpark, pull requests merged in 2024-08, with the labels that each got.

#260 adding r-ccs genesis app with simple regression test as workload
  .github/workflows/run.yml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/packages.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/software.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/variables.yaml
  docs/system/fugaku.rst
  experiments/genesis/openmp/ramble.yaml
  repo/genesis/application.py
  repo/genesis/package.py
  repo/hpl/package.py
  repo/qws/application.py
Labels: docs, experiment, ci, configs, application

#298 Add command: `benchpark system init`
  bin/benchpark
  bin/benchpark-python
  lib/benchpark/__init__.py
  lib/benchpark/cmd/system.py
  lib/benchpark/directives.py
  lib/benchpark/error.py
  lib/benchpark/experiment.py
  lib/benchpark/paths.py
  lib/benchpark/repo.py
  lib/benchpark/runtime.py
  lib/benchpark/spec.py
  lib/benchpark/system.py
  lib/benchpark/variant.py
  lib/main.py
  pyproject.toml
  var/exp_repo/experiments/saxpy/experiment.py
  var/exp_repo/repo.yaml
  var/sys_repo/repo.yaml
  var/sys_repo/systems/aws/system.py
  var/sys_repo/systems/tioga/compilers/gcc/00-gcc-12-compilers.yaml
  var/sys_repo/systems/tioga/compilers/rocm/00-rocm-551-compilers.yaml
  var/sys_repo/systems/tioga/compilers/rocm/01-rocm-543-compilers.yaml
  var/sys_repo/systems/tioga/externals/base/00-packages.yaml
  var/sys_repo/systems/tioga/externals/libsci/00-gcc-packages.yaml
  var/sys_repo/systems/tioga/externals/libsci/01-cce-packages.yaml
  var/sys_repo/systems/tioga/externals/mpi/00-gcc-ngtl-packages.yaml
  var/sys_repo/systems/tioga/externals/mpi/01-cce-ngtl-packages.yaml
  var/sys_repo/systems/tioga/externals/mpi/02-cce-ygtl-packages.yaml
  var/sys_repo/systems/tioga/externals/rocm/00-version-543-packages.yaml
  var/sys_repo/systems/tioga/externals/rocm/01-version-551-packages.yaml
  var/sys_repo/systems/tioga/system.py
Labels: ci, dependencies

#348 Lint
  .github/labeler.yml
  .github/workflows/ci.yml
  lib/benchpark/spec.py
  lib/main.py
Labels: ci

#347 Adding tags
  repo/laghos/application.py
Labels: application

#349 Cts system.py (ruby and magma)
  lib/benchpark/system.py
  var/sys_repo/systems/cts/compilers/gcc/00-gcc-12-compilers.yaml
  var/sys_repo/systems/cts/compilers/intel/00-intel-2021-6-0-compilers.yaml
  var/sys_repo/systems/cts/externals/base/00-packages.yaml
  var/sys_repo/systems/cts/externals/mpi/00-gcc-packages.yaml
  var/sys_repo/systems/cts/externals/mpi/01-intel-packages.yaml
  var/sys_repo/systems/cts/system.py
Labels: ready for review, configs

#358 Test `benchpark system init`
  .github/workflows/run.yml
  docs/4-benchpark-setup.rst
  docs/add-a-system-config.rst
Labels: docs, ci
