Repository LLNL/benchpark, pull requests merged in 2024-06, with the labels that each got.

#259 ci: rebuild docs on new experiments, applications, and systems
  .github/workflows/ci.yml
Labels: ci

#154 Specifying newer version of hypre
  experiments/amg2023/openmp/ramble.yaml
  repo/amg2023/package.py
Labels: experiment, application

#246 Kripke experiments with Caliper
  experiments/kripke/openmp/ramble.yaml
Labels: experiment

#262 Change kripke experiment version to develop
  experiments/kripke/cuda/ramble.yaml
  experiments/kripke/rocm/ramble.yaml
Labels: experiment

#195 Use Ramble modifier to fill in allocation variables
  .github/workflows/run.yml
  bin/benchpark
  configs/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/variables.yaml
  configs/CSCS-Daint-HPECray-haswell-P100-Infiniband/variables.yaml
  configs/CSCS-Eiger-HPECray-zen2-Slingshot/variables.yaml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/variables.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/variables.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/variables.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/variables.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/variables.yaml
  configs/nosite-AWS_PCluster_Hpc7a-zen4-EFA/variables.yaml
  configs/nosite-HPECray-zen3-MI250X-Slingshot/variables.yaml
  configs/nosite-x86_64/variables.yaml
  experiments/amg2023/cuda/ramble.yaml
  experiments/amg2023/openmp/execute_experiment.tpl
  experiments/amg2023/openmp/ramble.yaml
  experiments/amg2023/rocm/execute_experiment.tpl
  experiments/amg2023/rocm/ramble.yaml
  experiments/gromacs/cuda/execute_experiment.tpl
  experiments/gromacs/cuda/ramble.yaml
  experiments/gromacs/openmp/execute_experiment.tpl
  experiments/gromacs/openmp/ramble.yaml
  experiments/gromacs/rocm/execute_experiment.tpl
  experiments/gromacs/rocm/ramble.yaml
  experiments/hpcc/mpi-only/execute_experiment.tpl
  experiments/hpcc/mpi-only/ramble.yaml
  experiments/hpcg/openmp/execute_experiment.tpl
  experiments/hpcg/openmp/ramble.yaml
  experiments/hpl/openmp/execute_experiment.tpl
  experiments/hpl/openmp/ramble.yaml
  experiments/lammps/openmp/execute_experiment.tpl
  experiments/lammps/openmp/ramble.yaml
  experiments/md-test/mpi-only/execute_experiment.tpl
  experiments/md-test/mpi-only/ramble.yaml
  experiments/osu-micro-benchmarks/mpi-only/execute_experiment.tpl
  experiments/osu-micro-benchmarks/mpi-only/ramble.yaml
  experiments/raja-perf/cuda/execute_experiment.tpl
  experiments/raja-perf/cuda/ramble.yaml
  experiments/raja-perf/mpi-only/execute_experiment.tpl
  experiments/raja-perf/mpi-only/ramble.yaml
  experiments/raja-perf/openmp/execute_experiment.tpl
  experiments/raja-perf/openmp/ramble.yaml
  experiments/raja-perf/rocm/execute_experiment.tpl
  experiments/raja-perf/rocm/ramble.yaml
  experiments/saxpy/cuda/execute_experiment.tpl
  experiments/saxpy/cuda/ramble.yaml
  experiments/saxpy/openmp/execute_experiment.tpl
  experiments/saxpy/openmp/ramble.yaml
  experiments/saxpy/rocm/execute_experiment.tpl
  experiments/saxpy/rocm/ramble.yaml
  experiments/streamc/openmp/execute_experiment.tpl
  experiments/streamc/openmp/ramble.yaml
  experiments/universal-resources/execute_experiment.tpl
  modifiers/allocation/modifier.py
Labels: experiment, ci, configs

#251 Docs for the resource allocation modifier
  docs/3-opt-edit-experiment.rst
  docs/add-a-system-config.rst
Labels: docs

#264 Adding a description on how to use the allocation modifier
  docs/3-opt-edit-experiment.rst
Labels: docs

#268 Removing per-experiment execute_experiment_tpl
  experiments/kripke/cuda/execute_experiment.tpl
  experiments/kripke/openmp/execute_experiment.tpl
  experiments/kripke/rocm/execute_experiment.tpl
  experiments/qws/openmp/execute_experiment.tpl
Labels: bug

#266 Adding more dryrun tests
  .github/workflows/run.yml
Labels: ci

#270 Update hypre, remove magic compiler
  experiments/amg2023/cuda/ramble.yaml
  experiments/amg2023/openmp/ramble.yaml
  experiments/amg2023/rocm/ramble.yaml
  repo/hypre/package.py
Labels: experiment, application

#269 Adding allocation modifier to Kripke experiments
  .github/workflows/run.yml
  experiments/kripke/cuda/ramble.yaml
  experiments/kripke/openmp/ramble.yaml
  experiments/kripke/rocm/ramble.yaml
Labels: experiment, ci

#271 Fix amg2023 allocation modifier
  experiments/amg2023/openmp/ramble.yaml
Labels: experiment

#211 Config for Grace (CPU-only partition) at TAMU
  configs/TAMU-Grace-Dell-cascadelake-Infiniband/spack.yaml
  configs/TAMU-Grace-Dell-cascadelake-Infiniband/system_definition.yaml
  configs/TAMU-Grace-Dell-cascadelake-Infiniband/variables.yaml
Labels: experiment, configs

#265 Update Spack and Ramble versions to 6/5/2024 develop
  checkout-versions.yaml
  experiments/amg2023/cuda/ramble.yaml
  experiments/amg2023/openmp/ramble.yaml
  experiments/amg2023/rocm/ramble.yaml
  experiments/gromacs/cuda/ramble.yaml
  experiments/gromacs/openmp/ramble.yaml
  experiments/gromacs/rocm/ramble.yaml
  experiments/hpcc/mpi-only/ramble.yaml
  experiments/hpcg/openmp/ramble.yaml
  experiments/hpl/openmp/ramble.yaml
  experiments/kripke/cuda/ramble.yaml
  experiments/kripke/openmp/ramble.yaml
  experiments/kripke/rocm/ramble.yaml
  experiments/lammps/openmp/ramble.yaml
  experiments/md-test/mpi-only/ramble.yaml
  experiments/osu-micro-benchmarks/mpi-only/ramble.yaml
  experiments/qws/openmp/ramble.yaml
  experiments/raja-perf/cuda/ramble.yaml
  experiments/raja-perf/mpi-only/ramble.yaml
  experiments/raja-perf/openmp/ramble.yaml
  experiments/raja-perf/rocm/ramble.yaml
  experiments/saxpy/cuda/ramble.yaml
  experiments/saxpy/openmp/ramble.yaml
  experiments/saxpy/rocm/ramble.yaml
  experiments/streamc/openmp/ramble.yaml
Labels: experiment, dependencies

#155 Caliperizing stream
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/spack.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/spack.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/spack.yaml
  experiments/stream/openmp/ramble.yaml
  modifiers/allocation/modifier.py
  repo/stream/application.py
  repo/stream/package.py
Labels: experiment, configs, application

#199 Initial commit of MPI-only Laghos with Sedov blast wave experiment
  configs/LLNL-Ruby-icelake-OmniPath/auxiliary_software_files/compilers.yaml
  configs/LLNL-Ruby-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Ruby-icelake-OmniPath/spack.yaml
  configs/LLNL-Ruby-icelake-OmniPath/system_definition.yaml
  configs/LLNL-Ruby-icelake-OmniPath/variables.yaml
  configs/nosite-AWS_PCluster_Hpc6a-zen3-EFA/README.txt
  configs/nosite-AWS_PCluster_Hpc6a-zen3-EFA/auxiliary_software_files/compilers.yaml
  configs/nosite-AWS_PCluster_Hpc6a-zen3-EFA/auxiliary_software_files/packages.yaml
  configs/nosite-AWS_PCluster_Hpc6a-zen3-EFA/spack.yaml
  configs/nosite-AWS_PCluster_Hpc6a-zen3-EFA/system_definition.yaml
  configs/nosite-AWS_PCluster_Hpc6a-zen3-EFA/variables.yaml
  experiments/laghos/mpi/execute_experiment.tpl
  experiments/laghos/mpi/ramble.yaml
  repo/laghos/application.py
  repo/laghos/package.py
Labels: experiment, configs, application

#275 laghos mpi implementation
  experiments/laghos/mpi/ramble.yaml
Labels: experiment

#277 Adding modifier to RAJA Perf
  experiments/raja-perf/cuda/ramble.yaml
  experiments/raja-perf/openmp/ramble.yaml
  experiments/raja-perf/rocm/ramble.yaml
Labels: experiment

#279 Adding a Caliper-mpi modifier
  docs/3-opt-edit-experiment.rst
  modifiers/caliper-mpi/configs/modifier.yaml
  modifiers/caliper-mpi/modifier.py
Labels: docs, feature

#282 Fixing scheduler variables for Ruby
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Ruby-icelake-OmniPath/variables.yaml
Labels: configs

#278 Removing invalid -g option from BSUB
  modifiers/allocation/modifier.py
Labels: bug

#285 Adding modifiers to mpi-only raja-perf
  experiments/raja-perf/mpi-only/ramble.yaml
Labels: bug

#288 Bugfix/tags
  bin/benchpark
  common-resources/execute_experiment.tpl
  docs/generate-benchmark-list.py
  repo/gromacs/application.py
Labels: docs, application

#281 Adding Caliper modifier capability to Laghos
  experiments/laghos/mpi/execute_experiment.tpl
  experiments/laghos/mpi/ramble.yaml
Labels: experiment

#292 Fix kripke openmp config
  experiments/kripke/openmp/ramble.yaml
Labels: experiment

#293 Fix amg2023 rocm config
  experiments/amg2023/rocm/ramble.yaml
Labels: experiment

#107 Adding lammps
  .github/workflows/run.yml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/spack.yaml
  experiments/lammps/rocm/ramble.yaml
  repo/cray-mpich/package.py
  repo/lammps/application.py
  repo/lammps/package.py
Labels: experiment, ci, configs, application

#160 Config for JUWELS Booster (JSC)
  configs/JSC-JUWELS-Booster-rome-A100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/JSC-JUWELS-Booster-rome-A100-Infiniband/auxiliary_software_files/packages.yaml
  configs/JSC-JUWELS-Booster-rome-A100-Infiniband/spack.yaml
  configs/JSC-JUWELS-Booster-rome-A100-Infiniband/system_definition.yaml
  configs/JSC-JUWELS-Booster-rome-A100-Infiniband/variables.yaml
Labels: experiment, configs

#197 gromacs
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/spack.yaml
  experiments/gromacs/openmp/ramble.yaml
  experiments/gromacs/rocm/ramble.yaml
  repo/gromacs/package.py
  repo/hipsycl/package.py
  repo/rocm-consistency/package.py
Labels: experiment, configs, application

#156 Caliperizing hpl, need to modify package here
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  experiments/hpl/openmp/ramble.yaml
  repo/hpl/package.py
Labels: experiment, configs, application

#300 Fix variables.yaml to reflect the correct number of gpus per node on …
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/variables.yaml
Labels: configs
