Repository LLNL/benchpark, pull requests merged in 2024-09, with the labels that each got.

#360 Move system command logic; use unique ID in generated dirs
  .github/workflows/ci.yml
  .github/workflows/run.yml
  lib/benchpark/accounting.py
  lib/benchpark/cmd/setup.py
  lib/benchpark/cmd/system.py
  lib/benchpark/debug.py
  lib/benchpark/paths.py
  lib/benchpark/system.py
  lib/main.py
  modifiers/caliper-mpi/modifier.py
Labels: ci

#309 Rework AMG experiments
  experiments/amg2023/cuda/ramble.yaml
  experiments/amg2023/openmp/ramble.yaml
  experiments/amg2023/rocm/ramble.yaml
Labels: experiment, ready to merge, ready for review

#364 Adding quicksilver benchmark
  experiments/quicksilver/openmp/ramble.yaml
  repo/quicksilver/application.py
  repo/quicksilver/package.py
Labels: experiment, application

#365 Adding ior benchmark
  experiments/ior/mpi-only/ramble.yaml
  repo/ior/application.py
Labels: experiment, application

#368 Dry run for `benchpark experiment init`
  .github/workflows/run.yml
  lib/benchpark/cmd/setup.py
  var/exp_repo/experiments/saxpy/experiment.py
Labels: experiment, ci

#317 Progress on adding some benchmarks to benchpark
  .github/workflows/run.yml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  experiments/branson/openmp/ramble.yaml
  experiments/remhos/openmp/ramble.yaml
  repo/branson/application.py
  repo/branson/package.py
  repo/remhos/application.py
  repo/remhos/package.py
Labels: experiment, ci, configs, application

#369 Docs: Make System Configs Table Searchable
  docs/_static/css/custom.css
  docs/_static/main.js
  docs/conf.py
  docs/generate-sys-defs-list.py
  docs/system-list.rst
Labels: docs, ready for review

#371 Docs: patched issue with benchmark list
  lib/main.py
Labels: bug, ready for review

#374 renaming mpi dir to mpi-only
  .github/workflows/run.yml
  experiments/laghos/mpi-only/ramble.yaml
Labels: experiment, ci

#335 Adding Phloem benchmark to benchpark
  .github/workflows/run.yml
  experiments/phloem/mpi-only/ramble.yaml
  repo/phloem/application.py
  repo/phloem/package.py
Labels: experiment, ci, application

#344 experiment class for kripke
  .github/workflows/run.yml
  var/exp_repo/experiments/kripke/experiment.py
Labels: experiment, ci

#373 Adding quicksilver experiment.py
  .github/workflows/run.yml
  var/exp_repo/experiments/quicksilver/experiment.py
Labels: experiment, ci, application

#363 Adding r-ccs salmon benchmark application salmon-tddft
  .github/workflows/run.yml
  experiments/salmon/openmp/execute_experiment.tpl
  experiments/salmon/openmp/ramble.yaml
  repo/salmon-tddft/application.py
Labels: experiment, ci, application
