Repository LLNL/benchpark, pull requests merged in 2024-11, with the labels that each got.

#422 update docs to reflect new variant structure
  docs/add-a-dryrun.rst
  docs/add-a-system-config.rst
  docs/add-an-experiment.rst
  docs/benchpark-setup.rst
  docs/llnl-tutorial.rst
Labels: docs

#425 docs: add apidoc section
  docs/conf.py
  docs/index.rst
  lib/benchpark/directives.py
  lib/benchpark/repo.py
  lib/benchpark/spec.py
  lib/benchpark/variant.py
Labels: docs

#427 Fix unindented code block in `benchpark-setup.rst`
  docs/benchpark-setup.rst
Labels: docs

#428 Adding experiment class for Laghos
  .github/workflows/run.yml
  experiments/laghos/experiment.py
  repo/laghos/application.py
  repo/laghos/package.py
  systems/cts/externals/base/00-packages.yaml
  systems/genericx86/externals/base/00-packages.yaml
  systems/sierra/externals/base/00-packages.yaml
  systems/tioga/externals/base/00-packages.yaml
Labels: experiment, ci, ready for review, application

#432 docs: set max height for outputs
  docs/_static/css/custom.css
Labels: docs, ready for review

#434 docs: update text
  docs/llnl-tutorial.rst
  docs/modifiers.rst
Labels: docs, ready for review

#437 Mention installing requirements.txt in tutorial
  docs/llnl-tutorial.rst
Labels: docs

#438 Adding IOR experiment class
  .github/workflows/run.yml
  experiments/ior/experiment.py
Labels: experiment, ci

#440 variants: improve handling of booleans
  .github/workflows/run.yml
  experiments/amg2023/experiment.py
  experiments/kripke/experiment.py
  experiments/saxpy/experiment.py
  lib/benchpark/cuda.py
  lib/benchpark/openmp.py
  lib/benchpark/rocm.py
  lib/benchpark/spec.py
  systems/tioga/system.py
Labels: experiment, ci

#441 Fix binary variants to use true, false
  .github/workflows/run.yml
  experiments/amg2023/experiment.py
  experiments/ior/experiment.py
  experiments/kripke/experiment.py
  experiments/laghos/experiment.py
  experiments/quicksilver/experiment.py
  lib/benchpark/experiment.py
  lib/benchpark/scaling.py
Labels: experiment, ci

#449 remove oui from all docs
  docs/add-a-dryrun.rst
  docs/add-a-system-config.rst
  docs/add-an-experiment.rst
  docs/benchpark-setup.rst
  docs/llnl-tutorial.rst
Labels: docs

#450 `benchpark setup`: easier referencing of dynamically generated systems
  .github/workflows/run.yml
  lib/benchpark/cmd/setup.py
  lib/benchpark/cmd/system.py
  lib/benchpark/system.py
Labels: ci

#457 Adding system dir changes to trigger CI
  .github/workflows/ci.yml
Labels: ci

#458 Adding tioga/elcap variant
  .github/workflows/run.yml
  systems/tioga/externals/base/00-packages.yaml
  systems/tioga/system.py
Labels: ci

#459 Fix zlib dependency for laghos
  legacy/systems/LLNL-Dane-DELL-sapphirerapids-OmniPath/auxiliary_software_files/packages.yaml
  repo/laghos/package.py
  systems/genericx86/externals/base/00-packages.yaml
  systems/sierra/externals/base/00-packages.yaml
  systems/tioga/compilers/rocm/00-rocm-551-compilers.yaml
  systems/tioga/externals/base/00-packages.yaml
Labels: application
