Repository LLNL/benchpark, pull requests merged in 2024-07, with the labels that each got.

#305 Expanding valid list of tags, adding tags to benchmarks
  repo/hpcc/application.py
  repo/hpcg/application.py
  repo/hpl/application.py
  repo/md-test/application.py
  repo/osu-micro-benchmarks/application.py
  repo/saxpy/application.py
  repo/stream/application.py
  tags.yaml
Labels: application

#296 created weak and strong scaling studies kripke
  experiments/kripke/cuda/ramble.yaml
  experiments/kripke/rocm/ramble.yaml
Labels: experiment

#312 fixing buildable indentation
  .github/workflows/run.yml
  configs/LLNL-Ruby-icelake-OmniPath/auxiliary_software_files/packages.yaml
Labels: ci, configs

#313 Fixing buildable indentation.
  .github/workflows/run.yml
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
Labels: ci, configs

#314 Fixing buildable indentation
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
Labels: configs

#320 Adding strong and weak scaling for OpenMP version
  .github/workflows/run.yml
  experiments/kripke/openmp/ramble.yaml
Labels: experiment, ci
