Repository LLNL/benchpark, pull requests merged in 2024-02, with the labels that each got.

#129 Use gromacs/hipsycl from spack PR 41767 to build w/ ROCm
  repo/gromacs/package.py
  repo/hipsycl/package.py
Labels: application

#130 Fix gromacs build
  .github/workflows/bin/license
  repo/gromacs/gmxDetectCpu-cmake-3.14.patch
  repo/gromacs/gmxDetectSimd-cmake-3.14.patch
Labels: ci, application

#134 Remove redundant config variables
  experiments/amg2023/cuda/execute_experiment.tpl
  experiments/amg2023/cuda/ramble.yaml
  experiments/amg2023/openmp/execute_experiment.tpl
  experiments/amg2023/openmp/ramble.yaml
  experiments/amg2023/rocm/execute_experiment.tpl
  experiments/amg2023/rocm/ramble.yaml
  experiments/hpcc/mpi-only/execute_experiment.tpl
  experiments/hpcc/mpi-only/ramble.yaml
  experiments/hpcg/openmp/execute_experiment.tpl
  experiments/hpl/openmp/execute_experiment.tpl
  experiments/hpl/openmp/ramble.yaml
  experiments/lammps/openmp/execute_experiment.tpl
  experiments/lbann/cuda/execute_experiment.tpl
  experiments/lbann/cuda/ramble.yaml
  experiments/lbann/rocm/execute_experiment.tpl
  experiments/md-test/mpi-only/execute_experiment.tpl
  experiments/md-test/mpi-only/ramble.yaml
  experiments/osu-micro-benchmarks/mpi-only/execute_experiment.tpl
  experiments/raja-perf/cuda/execute_experiment.tpl
  experiments/raja-perf/mpi-only/execute_experiment.tpl
  experiments/raja-perf/openmp/execute_experiment.tpl
  experiments/raja-perf/rocm/execute_experiment.tpl
  experiments/saxpy/cuda/execute_experiment.tpl
  experiments/saxpy/openmp/execute_experiment.tpl
  experiments/saxpy/rocm/execute_experiment.tpl
  experiments/stream/openmp/execute_experiment.tpl
Labels: experiment, configs

#131 Fix lammps version
  experiments/lammps/openmp/ramble.yaml
Labels: experiment

#119 Starting a LLNL-Pascal config
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/compilers.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/spack.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/system_definition.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/variables.yaml
  experiments/amg2023/cuda/ramble.yaml
Labels: experiment, configs

#142 initial draft for fugaku config
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/compilers.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/packages.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/spack.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/system_definition.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/variables.yaml
Labels: configs

#118 Adding a Fugaku system config
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/compilers.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/packages.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/spack.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/system_definition.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/variables.yaml
  docs/tables/current-system-definitions.csv
  experiments/amg2023/openmp/ramble.yaml
Labels: docs, experiment, configs

#144 Feature gromacs openmp
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/compilers.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/spack.yaml
  configs/LLNL-Pascal-Penguin-broadwell-P100-OmniPath/variables.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/spack.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/variables.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  configs/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/spack.yaml
  experiments/gromacs/cuda/execute_experiment.tpl
  experiments/gromacs/cuda/ramble.yaml
  experiments/gromacs/openmp/execute_experiment.tpl
  experiments/gromacs/openmp/ramble.yaml
  experiments/gromacs/rocm/execute_experiment.tpl
  experiments/gromacs/rocm/ramble.yaml
  repo/cusolver/package.py
  repo/gromacs/application.py
  repo/gromacs/package.py
Labels: experiment, configs, application

#148 amg runs now
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/auxiliary_software_files/packages.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/spack.yaml
  configs/RCCS-Fugaku-Fujitsu-A64FX-TofuD/variables.yaml
Labels: configs

#147 Add CSCS configs for Daint and Eiger
  configs/CSCS-Daint-HPECray-haswell-P100-Infiniband/auxiliary_software_files/compilers.yaml
  configs/CSCS-Daint-HPECray-haswell-P100-Infiniband/auxiliary_software_files/packages.yaml
  configs/CSCS-Daint-HPECray-haswell-P100-Infiniband/spack.yaml
  configs/CSCS-Daint-HPECray-haswell-P100-Infiniband/system_definition.yaml
  configs/CSCS-Daint-HPECray-haswell-P100-Infiniband/variables.yaml
  configs/CSCS-Eiger-HPECray-zen2-Slingshot/auxiliary_software_files/packages.yaml
  configs/CSCS-Eiger-HPECray-zen2-Slingshot/spack.yaml
  configs/CSCS-Eiger-HPECray-zen2-Slingshot/system_definition.yaml
  configs/CSCS-Eiger-HPECray-zen2-Slingshot/variables.yaml
Labels: configs

#141 Configs/lumi
  configs/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/compilers.yaml
  configs/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  configs/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/spack.yaml
  configs/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/system_definition.yaml
  configs/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/variables.yaml
  docs/tables/current-system-definitions.csv
Labels: docs, configs

#123 Feature caliper base modifier
  .flake8
  bin/benchpark
  configs/LLNL-Magma-Penguin-icelake-OmniPath/auxiliary_software_files/packages.yaml
  configs/LLNL-Sierra-IBM-power9-V100-Infiniband/auxiliary_software_files/packages.yaml
  experiments/amg2023/cuda/ramble.yaml
  experiments/amg2023/openmp/ramble.yaml
  experiments/amg2023/rocm/ramble.yaml
  experiments/saxpy/cuda/ramble.yaml
  experiments/saxpy/openmp/ramble.yaml
  experiments/saxpy/rocm/ramble.yaml
  modifiers/caliper/configs/modifier.yaml
  modifiers/caliper/modifier.py
  modifiers/modifier_repo.yaml
  modifiers/none/configs/modifier.yaml
  repo/amg2023/application.py
Labels: experiment, configs, application
