Repository LLNL/benchpark, pull requests merged in 2025-06, with the labels that each got.

#806 Prevent Allocation of OS Reserved Cores
  lib/benchpark/system.py
  modifiers/caliper/modifier.py
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/system.py
Labels: feature, ready for review, system

#799 `benchpark analyze` Improvements
  docs/_static/images/kripke_cuda_strong_percentage_exc.png
  docs/_static/images/kripke_cuda_strong_percentage_time_exc.png
  docs/_static/images/kripke_cuda_strong_raw_exc-2.png
  docs/_static/images/kripke_cuda_strong_raw_exc.png
  docs/_static/images/kripke_cuda_strong_raw_inc.png
  docs/_static/images/kripke_cuda_strong_time_exc.png
  docs/_static/images/kripke_cuda_strong_time_inc.png
  docs/_static/images/kripke_cuda_throughput_percentage_time_exc.png
  docs/_static/images/kripke_cuda_throughput_raw_exc.png
  docs/_static/images/kripke_cuda_throughput_time_exc.png
  docs/_static/images/kripke_cuda_weak_percentage_time_exc.png
  docs/_static/images/kripke_cuda_weak_raw_exc.png
  docs/_static/images/kripke_cuda_weak_time_exc.png
  docs/benchpark-analyze.rst
  lib/benchpark/cmd/analyze.py
Labels: docs, feature, ready for review

#794 Adding gpumode variant for El Capitan system
  .github/workflows/run.yml
  .gitlab/tests/nightly.yml
  .gitlab/tests/test.yml
  .gitlab/utils/run-experiment.yml
  lib/benchpark/cmd/system.py
  modifiers/allocation/modifier.py
  systems/all_hardware_descriptions/HPECray-zen4-MI300A-Slingshot/hardware_description.yaml
  systems/llnl-elcapitan/system.py
Labels: feature, ci, ready for review, system

#788 Introducing Hwloc as a new modifier
  .gitlab/tests/test.yml
  docs/modifiers.rst
  lib/benchpark/experiment.py
  lib/benchpark/test/caliper.py
  modifiers/hwloc/modifier.py
  modifiers/hwloc/parse_hwloc_output.py
  requirements.txt
Labels: docs, feature, experiment, ready for review, dependencies

#820 Kripke in mpi-only mode should use 'Sequential' arch
  experiments/kripke/experiment.py
Labels: experiment

#800 Change llnl-elcapitan system config to use gpu-aware-mpi by default
  .gitlab/utils/run-experiment.yml
  systems/llnl-elcapitan/system.py
Labels: system

#817 Make oneapi Compiler Default on llnl-cluster
  systems/llnl-cluster/system.py
Labels: system

#825 Revert "Make oneapi Compiler Default on llnl-cluster"
  systems/llnl-cluster/system.py
Labels: system

#821 Remove _BENCHPARK_INITIALIZED
  lib/benchpark/cmd/mirror.py
  lib/benchpark/cmd/setup.py
Labels: feature, ready for review

#826 Set Sequential Default in Kripke application.py
  repo/kripke/application.py
Labels: ready for review, application

#784 Clone From Local Bootstrap to Speedup `benchpark setup`
  .github/workflows/run.yml
  lib/benchpark/cmd/audit.py
  lib/benchpark/cmd/setup.py
  lib/benchpark/experiment.py
  lib/benchpark/paths.py
  lib/benchpark/repo.py
  lib/benchpark/runtime.py
  lib/benchpark/spec.py
  lib/benchpark/system.py
  lib/main.py
  remote-urls.yaml
Labels: feature, ci, ready for review

#770 Laghos, Remhos Bugfix
  .codespellignore
  .gitlab/tests/test.yml
  experiments/remhos/experiment.py
  repo/laghos/package.py
  repo/mfem/package.py
  repo/remhos/package.py
  systems/llnl-cluster/system.py
  systems/llnl-sierra/system.py
Labels: docs, feature, experiment, system, application

#827 Make oneapi Compiler Default on llnl-cluster
  systems/llnl-cluster/system.py
Labels: ready for review, system

#853 Add RAJAPerf v2025.03.0
  .gitlab/tests/test.yml
  experiments/raja-perf/experiment.py
  repo/raja-perf/package.py
Labels: experiment, ready for review, application
