Repository LLNL/benchpark, pull requests merged in 2025-04, with the labels that each got.

#644 documentation for comparing binaries
  docs/_static/images/quicksilver-diffspecs.png
  docs/comparing-experiment-builds.rst
  docs/examples/compare_experiment_builds/compareExperimentBuilds.sh
  docs/index.rst
  docs/scripts.rst
Labels: docs, feature, WIP

#645 Caliper variant for quicksilver
  experiments/quicksilver/experiment.py
  repo/quicksilver/package.py
Labels: experiment, WIP, application

#709 Docs clean up, Utils section for scripts
  docs/_static/images/dray-diffspecs.png
  docs/add-a-system-config.rst
  docs/analyze-experiment.rst
  docs/comparing-experiment-builds.rst
  docs/developer-scripts.rst
  docs/diffBuildSpecs.rst
  docs/diffExperimentBuilds.rst
  docs/diffExperimentSpecs.rst
  docs/diffPackageCommits.rst
  docs/diffSystemSpecs.rst
  docs/index.rst
  docs/scripts.rst
  lib/scripts/diffBuildSpecs.py
  lib/scripts/diffExperimentSpecs.py
  lib/scripts/diffPackageCommits.py
  lib/scripts/diffSystemSpecs.py
Labels: docs, feature

#713 Fix Script Name in CI
  .github/workflows/diffpackages.yml
Labels: bug, ci

#573 docs: update parsing of system definitions for table
  docs/add-all.rst
  docs/generate-sys-defs-list.py
  systems/all_hardware_descriptions/Supermicro-icelake-OmniPath/hardware_description.yaml
Labels: docs, system, WIP

#722 Enable "None" as package manager
  .github/workflows/run.yml
  docs/run-binary.rst
  lib/benchpark/experiment.py
Labels: docs, feature, ci, ready for review

#732 Update llnl-elcapitan system.py
  systems/llnl-elcapitan/system.py
Labels: system

#584 [WIP] Add modifier for affinity package
  experiments/saxpy/experiment.py
  lib/benchpark/accounting.py
  lib/benchpark/affinity.py
  lib/benchpark/test/caliper.py
  modifiers/affinity/modifier.py
  modifiers/affinity/parse_affinity_log.py
  repo/affinity/package.py
Labels: feature, experiment, application

#736 Fix Function Name in Affinity modifier
  lib/benchpark/affinity.py
Labels: bug, feature

#728 update runners
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/diffpackages.yml
  .github/workflows/docs.yml
  .github/workflows/label.yml
  .github/workflows/license.yml
  .github/workflows/run.yml
  .github/workflows/style.yml
Labels: experiment, ci, system

#585 [wip] hpc-sdk version of cuda that can locate cufft
  repo/cuda/package.py
Labels: application

#739 docs: fix benchpark system external command
  docs/add-a-system-config.rst
Labels: docs

#740 Add Affinity modifier docs
  docs/modifiers.rst
Labels: docs
