Repository LLNL/benchpark, pull requests merged in 2025-03, with the labels that each got.

#634 Update benchpark list To Remove Legacy Information
  docs/basic-usage.rst
  lib/benchpark/accounting.py
  lib/main.py
Labels: docs, feature, experiment, ci, ready for review

#657 Migrate Legacy Common File
  lib/benchpark/accounting.py
  lib/benchpark/cmd/setup.py
  systems/common/spack_includes.yaml
Labels: ready for review

#659 Fail CI if Pytest Fails
  .github/workflows/run.yml
Labels: ci

#662 Fix for Benchpark tags and Tags Table in Benchpark Docs
  docs/Makefile
  docs/generate-benchmark-list.py
  lib/benchpark/test/commands.py
  lib/main.py
Labels: docs

#607 Forward Benchpark Metadata to Caliper
  lib/benchpark/caliper.py
  lib/benchpark/experiment.py
  lib/benchpark/test/caliper.py
  lib/benchpark/test/experiment.py
  modifiers/caliper/modifier.py
Labels: feature, ci, ready for review

#670 Update default rocm version to 6.2.4
  .github/workflows/run.yml
  systems/llnl-elcapitan/system.py
Labels: ci

#666 Use Current Directory to Search for Experiment and System
  lib/benchpark/cmd/setup.py
Labels: bug

#669 Update Bootstrapped ramble/spack and Fix gitlab CI
  .gitlab/ci/test.yml
  lib/benchpark/runtime.py
Labels: ci, ready for review

#582 Enable unit testing and initial code coverage uploads via CI
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.rst
  lib/benchpark/cmd/unit_test.py
  lib/main.py
  requirements.txt
Labels: docs, ci, ready for review, github_actions

#673 Add Benchpark QR code files
  docs/_static/qr-codes/benchpark-docs-qrcode.png
  docs/_static/qr-codes/benchpark-github-qrcode.png
Labels: docs

#671 Deprecate experiment list and system list Commands
  lib/benchpark/cmd/experiment.py
  lib/benchpark/cmd/system.py
Labels: ready for review

#616 Run Pre-built Binary
  .github/workflows/docs.yml
  .github/workflows/run.yml
  docs/index.rst
  docs/run-binary.rst
  experiments/ad/experiment.py
  experiments/amg2023/experiment.py
  experiments/babelstream/experiment.py
  experiments/genesis/experiment.py
  experiments/gpcnet/experiment.py
  experiments/gromacs/experiment.py
  experiments/hpcg/experiment.py
  experiments/hpl/experiment.py
  experiments/ior/experiment.py
  experiments/kripke/experiment.py
  experiments/laghos/experiment.py
  experiments/lammps/experiment.py
  experiments/md-test/experiment.py
  experiments/osu-micro-benchmarks/experiment.py
  experiments/phloem/experiment.py
  experiments/quicksilver/experiment.py
  experiments/qws/experiment.py
  experiments/raja-perf/experiment.py
  experiments/remhos/experiment.py
  experiments/saxpy/experiment.py
  experiments/smb/experiment.py
  experiments/stream/experiment.py
  lib/benchpark/caliper.py
  lib/benchpark/cmd/audit.py
  lib/benchpark/cmd/setup.py
  lib/benchpark/cuda.py
  lib/benchpark/experiment.py
  lib/benchpark/test/caliper.py
  lib/benchpark/test/experiment.py
Labels: docs, experiment, ci, ready for review

#674 Add readme badges
  README.rst
Labels: docs

#679 Fix Badges
  README.rst
Labels: docs, ready for review

#681 enable merge queues
  .github/workflows/ci.yml
Labels: ci, ready for review

#684 Fix issue with job filtering based on merge queue
  .github/workflows/ci.yml
Labels: ci

#682 Fix System Definitions
  lib/scripts/compareyaml.py
  systems/cscs-daint/system.py
  systems/jsc-juwels/system.py
  systems/llnl-sierra/system.py
  systems/riken-fugaku/system.py
Labels: bug, ready for review

#655 [WIP] Which experiment handles are required?
  docs/add-an-experiment.rst
  docs/index.rst
  docs/scripts.rst
  experiments/ad/experiment.py
  experiments/amg2023/experiment.py
  experiments/babelstream/experiment.py
  experiments/genesis/experiment.py
  experiments/gpcnet/experiment.py
  experiments/gromacs/experiment.py
  experiments/hpcg/experiment.py
  experiments/hpl/experiment.py
  experiments/ior/experiment.py
  experiments/kripke/experiment.py
  experiments/laghos/experiment.py
  experiments/lammps/experiment.py
  experiments/md-test/experiment.py
  experiments/osu-micro-benchmarks/experiment.py
  experiments/phloem/experiment.py
  experiments/quicksilver/experiment.py
  experiments/qws/experiment.py
  experiments/raja-perf/experiment.py
  experiments/remhos/experiment.py
  experiments/saxpy/experiment.py
  experiments/smb/experiment.py
  experiments/stream/experiment.py
  lib/benchpark/accounting.py
  lib/benchpark/cmd/list.py
  lib/benchpark/experiment.py
  lib/benchpark/test/commands.py
  lib/main.py
  lib/scripts/altdiff.py
  lib/scripts/diffExperiments.py
  lib/scripts/diffSystems.py
  repo/kripke/package.py
Labels: docs, experiment, application

#694 Fix laghos
  experiments/laghos/experiment.py
  repo/laghos/package.py
Labels: experiment, application

#696 Fix laghos to use zlib instead of zlib-ng
  repo/laghos/package.py
Labels: application

#690 Update labeler.yml
  .github/labeler.yml
Labels: ci

#619 Experiment/salmon
  .github/workflows/run.yml
  experiments/salmon-tddft/experiment.py
  legacy/experiments/salmon/openmp/execute_experiment.tpl
  legacy/experiments/salmon/openmp/ramble.yaml
  legacy/systems/LLNL-Ruby-icelake-OmniPath/software.yaml
  legacy/systems/RCCS-Fugaku-Fujitsu-A64FX-TofuD/software.yaml
  legacy/systems/nosite-x86_64/software.yaml
  pyproject.toml
  repo/salmon-tddft/application.py
  repo/salmon-tddft/cmakefix.patch
  repo/salmon-tddft/fjmpi.patch
  repo/salmon-tddft/package.py
  repo/salmon-tddft/v2.0.libxc-5.0.patch
Labels: experiment, ci, WIP, dependencies, application

#703 ci: add `all` check
  .github/workflows/ci.yml
Labels: ci, dependencies

#704 laghos experiment: enforce zlib
  repo/laghos/package.py
Labels: application

#698 Feature to Filter Benchpark list
  docs/benchpark-commands.rst
  docs/generate-benchmark-list.py
  docs/getting-started.rst
  docs/index.rst
  lib/benchpark/accounting.py
  lib/benchpark/cmd/list.py
  lib/benchpark/test/commands.py
  repo/amg2023/application.py
  repo/branson/application.py
  repo/genesis/application.py
  repo/hpcc/application.py
  repo/hpcg/application.py
  repo/lammps/application.py
  repo/osu-micro-benchmarks/application.py
  repo/quicksilver/application.py
  repo/raja-perf/application.py
  repo/salmon-tddft/application.py
  repo/saxpy/application.py
  repo/stream/application.py
Labels: docs, feature, ready for review, application

#648 Script to Compare Packages in Benchpark Against Spack Tag
  .github/workflows/ci.yml
  .github/workflows/diffpackages.yml
  bin/benchpark-python
  lib/benchpark/cmd/unit_test.py
  lib/scripts/diffExperiments.py
  lib/scripts/diffPackages.py
  lib/scripts/diffSpecs.py
Labels: feature, ci, ready for review, dependencies, application

#695 Docs for developer scripts
  docs/conf.py
  docs/developer-scripts.rst
  docs/index.rst
  docs/scripts.rst
  lib/scripts/diffExperimentBuilds.py
  lib/scripts/diffExperiments.py
  lib/scripts/diffSystems.py
Labels: docs, feature, experiment, ci, ready for review, system

#707 adds --update-head-ok to git fetch to force update
  .github/workflows/ci.yml
Labels: ci
