Repository LLNL/benchpark, pull requests merged in 2025-09, with the labels that each got.

#1005 Fix slack channel link
  docs/FAQ.rst
Labels: docs

#1008 docs: small edits to slides
  docs/_static/slides/HPCIC25-Tutorial-Slides.pdf
Labels: docs

#1007 Fix Workspace Path Configuration in Setup
  lib/benchpark/cmd/setup.py
Labels: bug, feature, ready for review

#1011 Change `job kill` to `cancel` in GitLab
  .gitlab/utils/cancel-flux.sh
Labels: ci

#995 Set GTL true by default in mpich package and set linker flags
  repo/cray-mpich/package.py
Labels: ready for review, application

#1032 Remove Coverage from Error-check Tests
  .github/workflows/run.yml
  codecov.yml
Labels: feature, ci, ready for review

#1035 Expose `n_repeats` as experiment variant
  docs/benchpark-setup.rst
  lib/benchpark/experiment.py
  lib/benchpark/test/caliper.py
  lib/benchpark/test/experiment.py
Labels: docs, feature, ready for review

#1046 move PR template, remove dry run task, dry runs are automatically added
  .github/pull_request_template.md
Labels: ci

#1053 remove blas from aws-tutorial system.py, enables hpl to build for tutorial
  systems/aws-tutorial/system.py
Labels: system, ready-for-merge

#1059 Fix lammps/remhos nightly builds
  experiments/lammps/experiment.py
  repo/remhos/package.py
Labels: experiment, application

#1051 Add variance Option to Caliper Modifier
  modifiers/caliper/modifier.py
Labels: feature, ready for review

#1074 Define MPI as Virtual in llnl-matrix
  systems/llnl-matrix/system.py
Labels: ready for review, system

#1078 Limit GitLab Pipelines Based on File Changes
  .gitlab-ci.yml
Labels: ready for review

#1085 Fix Failing yaml lint
  .github/workflows/ci.yml
  .gitlab-ci.yml
Labels: ci

#1054 Remove babelstream MPI only Test
  .gitlab/tests/nightly.yml
Labels: ready-for-merge
