Repository LLNL/benchpark, pull requests merged in 2025-08, with the labels that each got.

#891 Additionally Generate Coverage from Any Usage of `bin/benchpark` if Environment Variable Provided
  .github/utils/dryruns.py
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/run.yml
  bin/benchpark
  codecov.yml
  docs/ci-developer-guide.rst
Labels: docs, feature, ci, ready for review, dependencies

#948 Remove Vestigal ramble Argument
  .github/utils/dryrun.sh
  .github/workflows/run.yml
  docs/FAQ.rst
  docs/analyze-experiment.rst
  docs/basic-tutorial.rst
  docs/build-experiment.rst
  docs/create-mirror.rst
  docs/for-the-impatient.rst
  docs/llnl-tutorial.rst
  docs/run-experiment.rst
  docs/showBuild.rst
  docs/system/fugaku.rst
  lib/benchpark/cmd/mirror.py
  lib/benchpark/cmd/setup.py
Labels: docs, feature, ci, ready for review

#950 Document clean up
  docs/analyze-experiment.rst
  docs/basic-tutorial.rst
  docs/benchpark-analyze.rst
  docs/benchpark-commands.rst
  docs/benchpark-setup.rst
  docs/build-experiment.rst
  docs/comparing-experiment-builds.rst
  docs/create-mirror.rst
  docs/llnl-tutorial.rst
  docs/run-binary.rst
  docs/run-experiment.rst
  docs/set-of-experiments.rst
  docs/showBuild.rst
  docs/testing-your-contribution.rst
Labels: docs

#951 Update for-the-impatient.rst
  docs/add-a-system-config.rst
  docs/for-the-impatient.rst
Labels: docs

#944 Test Using system-aware Experiment Initialization and add MPISystem
  .github/utils/dryrun.sh
  .gitlab/tests/non_shared.yml
  .gitlab/tests/shared_flux_clusters.yml
  .gitlab/utils/run-experiment.sh
  lib/benchpark/directives.py
  lib/benchpark/openmpsystem.py
  lib/benchpark/system.py
  systems/aws-pcluster/system.py
  systems/cscs-eiger/system.py
  systems/generic-x86/system.py
  systems/lanl-venado/system.py
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
  systems/llnl-matrix/system.py
  systems/llnl-sierra/system.py
  systems/riken-fugaku/system.py
Labels: feature, ci, ready for review, system

#957 Use different value for placeholder instead of relying on max value
  docs/add-a-system-config.rst
  lib/benchpark/system.py
  lib/benchpark/test/system.py
  modifiers/allocation/modifier.py
Labels: docs, feature, ready for review

#960 Add Missing GPUMODE to Test
  .gitlab/tests/shared_flux_clusters.yml
Labels: ready-for-merge

#959 Add Caliper modifier variant for rocm/hip
  .gitlab/tests/shared_flux_clusters.yml
  lib/benchpark/caliper.py
  modifiers/caliper/modifier.py
Labels: feature, ready for review

#969 Use Positive Placeholder for Ramble Check
  docs/add-a-system-config.rst
  lib/benchpark/system.py
  lib/benchpark/test/system.py
  modifiers/allocation/modifier.py
Labels: bug, docs, feature, ready for review

#973 Fix "Benchmarks and Experiments" Docs Page
  docs/generate-benchmark-list.py
Labels: bug, docs

#970 Remove Ruby Gitlab Tests
  .gitlab/tests/non_shared.yml
  .gitlab/utils/machine_checks.yml
  .gitlab/utils/status.yml
  systems/llnl-cluster/system.py
Labels: ready for review, system

#975 Allow either host.cluster or cluster in analyze
  lib/benchpark/cmd/analyze.py
Labels: bug, feature, ready for review

#885 Execution Modes and Performance Evaluation Problem Sizes
  .github/utils/dryruns.py
  .gitlab/tests/shared_slurm_clusters.yml
  docs/add-an-experiment.rst
  docs/basic-tutorial.rst
  docs/benchpark-analyze.rst
  docs/comparing-experiment-builds.rst
  docs/examples/compare_experiment_builds/compareExperimentBuilds.sh
  experiments/amg2023/experiment.py
  experiments/hpcg/experiment.py
  experiments/hpl/experiment.py
  experiments/ior/experiment.py
  experiments/kripke/experiment.py
  experiments/lammps/experiment.py
  experiments/md-test/experiment.py
  experiments/osu-micro-benchmarks/experiment.py
  experiments/raja-perf/experiment.py
  lib/benchpark/accounting.py
  lib/benchpark/experiment.py
  lib/benchpark/test/caliper.py
Labels: docs, feature, experiment, ci, ready for review, system

#986 Decrease Kripke Problem Sizes for Test Mode
  experiments/kripke/experiment.py
Labels: experiment, ready for review

#854 Version Benchmarks on Latest Release Dynamically
  .gitlab/tests/nightly.yml
  .gitlab/utils/run-experiment.sh
  .gitlab/utils/status.yml
  experiments/ad/experiment.py
  experiments/amg2023/experiment.py
  experiments/babelstream/experiment.py
  experiments/genesis/experiment.py
  experiments/gpcnet/experiment.py
  experiments/gromacs/experiment.py
  experiments/hpcg/experiment.py
  experiments/hpl/experiment.py
  experiments/ior/experiment.py
  experiments/kripke/experiment.py
  experiments/laghos/experiment.py
  experiments/lammps/experiment.py
  experiments/md-test/experiment.py
  experiments/osu-micro-benchmarks/experiment.py
  experiments/phloem/experiment.py
  experiments/quicksilver/experiment.py
  experiments/qws/experiment.py
  experiments/raja-perf/experiment.py
  experiments/remhos/experiment.py
  experiments/salmon-tddft/experiment.py
  experiments/saxpy/experiment.py
  experiments/smb/experiment.py
  experiments/stream/experiment.py
  lib/benchpark/experiment.py
  repo/amg2023/package.py
  repo/babelstream/package.py
  repo/gpcnet/package.py
  repo/kripke/package.py
  repo/lammps/package.py
  repo/phloem/package.py
  repo/smb/package.py
Labels: feature, experiment, ready for review, application

#998 add AWS tutorial system.py for CI testing
  docs/generate-benchmark-list.py
  systems/all_hardware_descriptions/AWS_Tutorial-c7i-EFA/hardware_description.yaml
  systems/aws-tutorial/system.py
Labels: docs, system

#993 WIP update hello world tutorial
  docs/add-an-experiment.rst
  docs/basic-tutorial.rst
  docs/graph-and-tree.png
Labels: docs, WIP

#1002 fix path to slide deck
  docs/basic-tutorial.rst
Labels: docs
