Repository LLNL/benchpark, pull requests merged in 2025-07, with the labels that each got.

#842 Gitlab CI Shared Allocation Implementation for Daily Pipelines
  .gitlab-ci.yml
  .gitlab/tests/nightly.yml
  .gitlab/tests/non_shared.yml
  .gitlab/tests/shared_flux_clusters.yml
  .gitlab/tests/shared_slurm_clusters.yml
  .gitlab/tests/test.yml
  .gitlab/utils/run-experiment.sh
  .gitlab/utils/run-experiment.yml
Labels: ready for review

#857 Comment out "TBD" FOM
  .gitlab/tests/shared_slurm_clusters.yml
  repo/phloem/application.py
Labels: bug, ready for review, application

#860 Add "Machine Up" Checks and Decouple Cluster Workflows
  .gitlab-ci.yml
  .gitlab/tests/non_shared.yml
  .gitlab/tests/shared_flux_clusters.yml
  .gitlab/tests/shared_slurm_clusters.yml
  .gitlab/utils/machine_checks.yml
  .gitlab/utils/rules.yml
  .gitlab/utils/run-experiment.sh
Labels: bug, ready for review

#868 Add 512 and 1024 Block Sizes to RAJAPerf
  repo/raja-perf/package.py
Labels: ready for review, application

#865 minor qws update
  repo/qws/package.py
Labels: application

#676 spack v1.0 support: `%foo +bar` -> `+bar %foo`
  repo/gromacs/package.py
  repo/raja-perf/package.py
  systems/csc-lumi/system.py
  systems/llnl-elcapitan/system.py
  systems/riken-fugaku/system.py
Labels: changes requested, system, application

#881 Create Separate Allocations for gpumodes
  .gitlab-ci.yml
  .gitlab/tests/shared_flux_clusters.yml
  .gitlab/tests/shared_slurm_clusters.yml
  .gitlab/utils/cancel-flux.sh
  .gitlab/utils/cancel-slurm.sh
  .gitlab/utils/rules.yml
Labels: ready for review

#886 Change oneapi2023 -> oneapi in nightly tests
  .gitlab/tests/nightly.yml
  .gitlab/utils/status.yml
Labels: bug, ready for review

#869 Set cuda 12.6 as the default on matrix
  systems/llnl-matrix/system.py
Labels: system

#882 Refactor CDash Dashboard Names
  .gitlab/tests/non_shared.yml
  .gitlab/tests/shared_flux_clusters.yml
  .gitlab/tests/shared_slurm_clusters.yml
  .gitlab/utils/status.yml
Labels: ready for review

#870 Change intel oneapi optimization flags for mfem
  repo/mfem/package.py
Labels: application

#887 Intentionally Test Analyze Command
  .gitlab/tests/shared_slurm_clusters.yml
  .gitlab/utils/run-experiment.sh
Labels: ready for review

#883 Enable Parallel Pipeline Concurrency (Speed Up Multiple Pipelines)
  .gitlab-ci.yml
  .gitlab/tests/shared_flux_clusters.yml
  .gitlab/tests/shared_slurm_clusters.yml
  .gitlab/utils/cancel-flux.sh
  .gitlab/utils/cancel-slurm.sh
  .gitlab/utils/rules.yml
  .gitlab/utils/run-experiment.sh
Labels: ready for review

#889 Add path for libunwind.so.1 error on Tioga
  .gitlab/tests/shared_flux_clusters.yml
  systems/llnl-elcapitan/system.py
Labels: ready for review, system

#894 Post Nightly Tests to Correct Dashboard
  .gitlab/utils/status.yml
Labels: bug, ready for review

#909 Add cuda allow-unsupported-compiler flag for camp, chai, raja, umpire
  repo/camp/package.py
  repo/chai/package.py
  repo/raja/package.py
  repo/umpire/package.py
Labels: application

#893 isolate bootstrap cache to workspace spack instance
  lib/benchpark/runtime.py
Labels: feature

#908 Add rocm 6.4 as the default rocm version on tuolumne
  lib/benchpark/test/system.py
  systems/llnl-elcapitan/system.py
Labels: feature, ready for review, system

#920 Fix Permissions in ci.yml for Deploying Docs
  .github/workflows/ci.yml
Labels: ci, ready for review

#892 Update Nightly Testing Suite
  .gitlab/tests/nightly.yml
  .gitlab/utils/rules.yml
  docs/_static/images/shared-nonshared.png
  docs/ci-developer-guide.rst
  docs/index.rst
Labels: docs, ready for review

#849 System experiment interface
  lib/benchpark/cmd/experiment.py
  lib/benchpark/cmd/system.py
  lib/benchpark/cuda.py
  lib/benchpark/directives.py
  lib/benchpark/experiment.py
  lib/benchpark/openmp.py
  lib/benchpark/rocm.py
  lib/benchpark/spec.py
  lib/benchpark/system.py
  lib/benchpark/test/spec_semantics.py
Labels: feature, experiment, system

#938 Default Exclusive Allocation for Slurm Jobs
  modifiers/allocation/modifier.py
Labels: feature, ready for review
