Repository LLNL/benchpark, pull requests merged in 2025-01, with the labels that each got.

#516 Fix license verification CI check
  .github/workflows/license.yml
Labels: ci

#530 Fix amg default blas lapack config
  experiments/amg2023/experiment.py
Labels: experiment

#509 Adding Caliper to Kripke
  .github/workflows/run.yml
  experiments/kripke/experiment.py
Labels: experiment, ci

#536 Adding application.py tags for docs
  repo/branson/application.py
  repo/phloem/application.py
  repo/remhos/application.py
Labels: application

#538 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ci

#539 Laghos GPU variants
  .github/workflows/run.yml
  experiments/laghos/experiment.py
  repo/laghos/application.py
  repo/laghos/package.py
Labels: experiment, ci, application

#541 Docs: a few small updates to fix documentation
  docs/add-an-experiment.rst
  docs/llnl-tutorial.rst
  docs/modifiers.rst
Labels: docs, ready for review

#512 Feature/gpu aware mpi libs
  repo/cray-mpich/package.py
  repo/gromacs/package.py
  repo/saxpy/package.py
  repo/spectrum-mpi/package.py
Labels: application

#547 Site CI remove variable expansion
  .gitlab/ci/test.yml
Labels: ci, ready for review

#549 Added external papi package for lassen/sierra
  systems/llnl-sierra/externals/base/00-packages.yaml
Labels: bug, ready for review, configs

#534 Add genesis experiment
  .github/workflows/run.yml
  experiments/genesis/experiment.py
  repo/genesis/package.py
Labels: experiment, ci, application, WIP

#524 RAJAPerf experiment class
  .github/workflows/run.yml
  experiments/raja-perf/experiment.py
  repo/raja-perf/package.py
  systems/llnl-elcapitan/system.py
Labels: experiment, ci, ready for review, application

#548 venado system specs
  .github/workflows/run.yml
  legacy/systems/LLNL-Tioga-HPECray-zen3-MI250X-Slingshot/auxiliary_software_files/packages.yaml
  repo/amg2023/package.py
  repo/caliper/for_aarch64.patch
  repo/caliper/package.py
  repo/caliper/sampler-service-missing-libunwind-include-dir.patch
  repo/cray-mpich/package.py
  repo/hypre/package.py
  repo/saxpy/CMakeLists.txt
  repo/saxpy/package.py
  systems/all_system_definitions/HPECray-neoverse-H100-Slingshot/system_definition.yaml
  systems/lanl-venado/compilers/cce/00-cce-18-compilers.yaml
  systems/lanl-venado/compilers/gcc/00-gcc-12-compilers.yaml
  systems/lanl-venado/externals/base/00-packages.yaml
  systems/lanl-venado/externals/libsci/00-gcc-packages.yaml
  systems/lanl-venado/externals/libsci/01-cce-packages.yaml
  systems/lanl-venado/system.py
  systems/llnl-elcapitan/system.py
Labels: ci, application

#559 To use fj compiler for genesis on fugaku
  repo/genesis/package.py
Labels: application

#526 Adding BabelSTREAM experiment class
  .github/workflows/run.yml
  experiments/babelstream/experiment.py
  repo/babelstream/application.py
  repo/babelstream/package.py
Labels: experiment, ci, ready for review, application

#570 Adding CUDA and OPENMP to LAMMPS experiment class
  .github/workflows/run.yml
  experiments/lammps/experiment.py
  repo/cray-mpich/package.py
  repo/kokkos/package.py
  repo/lammps/package.py
Labels: experiment, ci

#560 Standardizing system names
  .github/actions/dynamic-dry-run/action.yml
  .github/workflows/run.yml
  systems/generic-x86/system.py
  systems/riken-fugaku/compilers/clang/00-clang-17-compilers.yaml
  systems/riken-fugaku/compilers/fj/00-fj-4-compilers.yaml
  systems/riken-fugaku/compilers/gcc/00-gcc-13-compilers.yaml
  systems/riken-fugaku/externals/base/00-packages.yaml
  systems/riken-fugaku/system.py
Labels: ci

#561 Matching hardware and software stack distinction in the docs
  docs/add-a-system-config.rst
Labels: docs

#577 Move caliper from experiment to lib
  experiments/amg2023/experiment.py
  experiments/babelstream/experiment.py
  experiments/kripke/experiment.py
  experiments/laghos/experiment.py
  experiments/raja-perf/experiment.py
  experiments/remhos/experiment.py
  experiments/saxpy/experiment.py
  lib/benchpark/caliper.py
Labels: experiment

#529 Adding STREAM experiment class
  .github/workflows/run.yml
  experiments/stream/experiment.py
Labels: experiment, ci, ready for review

#527 Adding HPL experiment class
  .github/workflows/run.yml
  experiments/hpl/experiment.py
Labels: experiment, ci, ready for review

#583 Adding openmp dryruns for hpl
  .github/workflows/run.yml
Labels: ci

#525 Adding hpcg experiment class
  .github/workflows/run.yml
  experiments/hpcg/experiment.py
  repo/hpcg/application.py
  repo/hpcg/package.py
Labels: experiment, ci, ready for review, application

#523 Update ramble version
  .github/workflows/run.yml
  .gitlab/ci/test.yml
  checkout-versions.yaml
  legacy/experiments/laghos/mpi-only/ramble.yaml
  modifiers/caliper/modifier.py
  repo/babelstream/application.py
  repo/genesis/application.py
  repo/salmon-tddft/application.py
Labels: ci, ready for review, application
