Repository LLNL/benchpark, pull requests merged in 2025-02, with the labels that each got.

#586 AD benchmark
  .github/workflows/run.yml
  experiments/ad/experiment.py
  repo/ad/application.py
  repo/ad/package.py
  repo/enzyme/package.py
  systems/llnl-elcapitan/system.py
  taxonomy.yaml
Labels: experiment, ci, application

#138 [WIP] Add spack-python script to output diff in tree format
  lib/scripts/altdiff.py
Labels: WIP

#595 Print --version and --help Without Bootstrapping
  lib/main.py
Labels: bug

#594 Adding dynamic CSC-LUMI
  .github/workflows/run.yml
  systems/all_hardware_descriptions/CSC-LUMI-HPECray-zen3-MI250X-Slingshot/hardware_description.yaml
  systems/csc-lumi/externals/base/00-packages.yaml
  systems/csc-lumi/externals/libsci/00-gcc-packages.yaml
  systems/csc-lumi/externals/libsci/01-cce-packages.yaml
  systems/csc-lumi/externals/libsci/02-rocmcc-packages.yaml
  systems/csc-lumi/system.py
Labels: ci, system

#605 Adding dynamic CSCS-DAINT system class
  .github/workflows/run.yml
  systems/all_hardware_descriptions/CSCS-Daint-HPECray-haswell-P100-Infiniband/hardware_description.yaml
  systems/cscs-daint/compilers/00-nvhpc-compiler.yaml
  systems/cscs-daint/compilers/01-gcc-9-compiler.yaml
  systems/cscs-daint/compilers/02-cce-12-compiler.yaml
  systems/cscs-daint/compilers/03-gcc-10-compiler.yaml
  systems/cscs-daint/compilers/04-gcc-11-compiler.yaml
  systems/cscs-daint/compilers/05-intel-compiler.yaml
  systems/cscs-daint/compilers/06-pgi-compiler.yaml
  systems/cscs-daint/externals/base/00-packages.yaml
  systems/cscs-daint/system.py
Labels: ci

#535 Update requirements.txt
  .github/workflows/ci.yml
  requirements.txt
Labels: ci

#613 Creating dynamic CSCS-Eiger system class
  .github/workflows/run.yml
  systems/all_hardware_descriptions/CSCS-Eiger-HPECray-zen2-Slingshot/hardware_description.yaml
  systems/cscs-eiger/compilers/00-gcc12-compiler.yaml
  systems/cscs-eiger/externals/00-packages.yaml
  systems/cscs-eiger/system.py
Labels: ci

#614 Adding dynamic JUWELS system class
  .github/workflows/run.yml
  systems/all_hardware_descriptions/JSC-JUWELS-Booster-rome-A100-Infiniband/hardware_description.yaml
  systems/jsc-juwels/compilers/00-gcc-12-compiler.yaml
  systems/jsc-juwels/compilers/01-nvhpc-compiler.yaml
  systems/jsc-juwels/externals/packages.yaml
  systems/jsc-juwels/system.py
Labels: ci

#621 Making a pass over the docs
  docs/basic-usage.rst
  docs/build-experiment.rst
  docs/for-the-impatient.rst
  docs/modifiers.rst
Labels: docs

#628 Remove comm_cali pointer from develop
  repo/laghos/package.py
  repo/mfem/package.py
Labels: application

#636 Rework Legacy Setup and CI
  .github/actions/dynamic-dry-run/action.yml
  .github/workflows/docs.yml
  .github/workflows/run.yml
  lib/benchpark/cmd/experiment.py
  lib/benchpark/cmd/setup.py
Labels: ci

#633 Fix gtl flags in kripke package.py
  repo/kripke/package.py
Labels: application

#581 Adding gpu aware mpi to osu-micro-benchmarks w/ rocm variant
  .github/workflows/run.yml
  experiments/osu-micro-benchmarks/experiment.py
  repo/osu-micro-benchmarks/package.py
  systems/llnl-elcapitan/system.py
Labels: experiment, ci, application

#632 Updating md-test experiment class
  .github/workflows/run.yml
  experiments/md-test/experiment.py
Labels: experiment, ci

#642 Fix and Run Pytest Unit Tests
  .github/workflows/run.yml
  lib/benchpark/test/experiment.py
Labels: ci

#430 Adding experiment class for gpcNet
  .github/workflows/run.yml
  experiments/gpcnet/experiment.py
  repo/gpcnet/application.py
  repo/gpcnet/package.py
Labels: experiment, ci, ready for review, application

#587 Benchpark info command, new experiment and system directives
  docs/basic-usage.rst
  experiments/amg2023/experiment.py
  experiments/babelstream/experiment.py
  experiments/genesis/experiment.py
  experiments/gromacs/experiment.py
  experiments/hpl/experiment.py
  experiments/ior/experiment.py
  experiments/kripke/experiment.py
  experiments/laghos/experiment.py
  experiments/lammps/experiment.py
  experiments/osu-micro-benchmarks/experiment.py
  experiments/phloem/experiment.py
  experiments/quicksilver/experiment.py
  experiments/qws/experiment.py
  experiments/raja-perf/experiment.py
  experiments/remhos/experiment.py
  experiments/saxpy/experiment.py
  experiments/smb/experiment.py
  experiments/stream/experiment.py
  lib/benchpark/cmd/info.py
  lib/benchpark/directives.py
  lib/benchpark/experiment.py
  lib/benchpark/paths.py
  lib/main.py
  systems/all_hardware_descriptions/AWS_PCluster-zen-EFA/hardware_description.yaml
  systems/all_hardware_descriptions/Atos-rome-A100-Infiniband/hardware_description.yaml
  systems/all_hardware_descriptions/DELL-cascadelake-Infiniband/hardware_description.yaml
  systems/all_hardware_descriptions/DELL-sapphirerapids-OmniPath/hardware_description.yaml
  systems/all_hardware_descriptions/Fujitsu-A64FX-TofuD/hardware_description.yaml
  systems/all_hardware_descriptions/HPECray-haswell-P100-Infiniband/hardware_description.yaml
  systems/all_hardware_descriptions/HPECray-neoverse-H100-Slingshot/hardware_description.yaml
  systems/all_hardware_descriptions/HPECray-zen2-Slingshot/hardware_description.yaml
  systems/all_hardware_descriptions/HPECray-zen3-MI250X-Slingshot/hardware_description.yaml
  systems/all_hardware_descriptions/HPECray-zen4-MI300A-Slingshot/hardware_description.yaml
  systems/all_hardware_descriptions/IBM-power9-V100-Infiniband/hardware_description.yaml
  systems/all_hardware_descriptions/Penguin-icelake-OmniPath/hardware_description.yaml
  systems/all_hardware_descriptions/Supermicro-icelake-OmniPath/hardware_description.yaml
  systems/aws-pcluster/system.py
  systems/csc-lumi/system.py
  systems/cscs-daint/system.py
  systems/cscs-eiger/system.py
  systems/jsc-juwels/system.py
  systems/lanl-venado/system.py
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/system.py
  systems/riken-fugaku/system.py
Labels: docs, feature, experiment
