Repository LLNL/benchpark, pull requests merged in 2025-05, with the labels that each got.

#744 Cdash Badge
  README.rst
Labels: docs

#755 Update Ramble version to current
  checkout-versions.yaml
Labels: feature, ci, dependencies, python

#752 Cuda unit tests on Gitlab CI
  .gitlab/ci/test.yml
Labels: ci, ready for review

#753 Fix Benchmark Builds for Default Specs
  experiments/amg2023/experiment.py
  experiments/kripke/experiment.py
  repo/amg2023/package.py
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
Labels: experiment, system, application

#747 Extend Gitlab CI
  .gitlab-ci.yml
  .gitlab/bin/exit-codes
  .gitlab/ci/test.yml
  .gitlab/skip-branch-not-a-pr.yml
  .gitlab/tests/nightly.yml
  .gitlab/tests/test.yml
  .gitlab/utils/run-experiment.yml
  .gitlab/utils/status.yml
  CTestGitlab.cmake
  lib/benchpark/runtime.py
  pull_request_template.md
Labels: feature, ci, ready for review

#760 Bugfix/amg2023 build
  repo/amg2023/package.py
Labels: application

#758 Fix input source in lammps ramble repo
  repo/lammps/application.py
  repo/lammps/package.py
Labels: changes requested, application

#763 Bugfix/amg2023 build
  repo/amg2023/package.py
  repo/hypre/package.py
Labels: application

#764 Remove cuda and rocm libraries as providers for blas and lapack
  .github/workflows/run.yml
  repo/amg2023/package.py
  repo/cublas/package.py
  repo/cusolver/package.py
  repo/hypre/package.py
  repo/laghos/package.py
  repo/rocblas/package.py
  repo/rocsolver/package.py
  systems/lanl-venado/system.py
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/system.py
Labels: ci, system, application

#768 Add amg2023 for CUDA Tests
  .gitlab/tests/nightly.yml
  .gitlab/tests/test.yml
Labels: ci, ready for review

#700 Adding maintainers
  experiments/ad/experiment.py
  experiments/gpcnet/experiment.py
  experiments/hpcg/experiment.py
  experiments/md-test/experiment.py
  systems/csc-lumi/system.py
  systems/cscs-daint/system.py
  systems/cscs-eiger/system.py
  systems/generic-x86/system.py
  systems/jsc-juwels/system.py
Labels: experiment, system

#772 Revert "Adding maintainers"
  experiments/ad/experiment.py
  experiments/gpcnet/experiment.py
  experiments/hpcg/experiment.py
  experiments/md-test/experiment.py
  systems/csc-lumi/system.py
  systems/cscs-daint/system.py
  systems/cscs-eiger/system.py
  systems/generic-x86/system.py
  systems/jsc-juwels/system.py
Labels: experiment, system

#774 Dependabot/pip/dot GitHub/workflows/requirements/flake8 7.2.0
  .github/workflows/requirements/style.txt
  lib/benchpark/cmd/unit_test.py
  lib/benchpark/repo.py
Labels: feature, ci

#769 Remove hardcoded python spack spec path in llnl-cluster
  systems/llnl-cluster/system.py
Labels: system

#733 Lazy Run Script
  lib/benchpark/cmd/setup.py
Labels: feature

#762 Update spack library
  checkout-versions.yaml
  lib/benchpark/cmd/audit.py
  lib/benchpark/system.py
  repo/babelstream/package.py
  repo/cray-mpich/package.py
  repo/gromacs/package.py
  repo/raja-perf/package.py
  systems/lanl-venado/system.py
  systems/llnl-elcapitan/system.py
Labels: feature, system, application

#781 Add checkout-versions.yaml to yaml check
  .github/workflows/ci.yml
  checkout-versions.yaml
Labels: ci

#717 Starting provides, requires directives
  .github/workflows/run.yml
  lib/benchpark/accounting.py
  lib/benchpark/cuda.py
  lib/benchpark/cudasystem.py
  lib/benchpark/directives.py
  lib/benchpark/openmp.py
  lib/benchpark/openmpsystem.py
  lib/benchpark/rocm.py
  lib/benchpark/rocmsystem.py
  lib/benchpark/system.py
  systems/aws-pcluster/system.py
  systems/csc-lumi/system.py
  systems/cscs-daint/system.py
  systems/cscs-eiger/system.py
  systems/generic-x86/system.py
  systems/jsc-juwels/system.py
  systems/lanl-venado/system.py
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
  systems/llnl-sierra/system.py
  systems/riken-fugaku/system.py
Labels: feature, experiment, ci, system

#773 Adding maintainers
  experiments/ad/experiment.py
  experiments/gpcnet/experiment.py
  experiments/hpcg/experiment.py
  experiments/md-test/experiment.py
  systems/cscs-daint/system.py
  systems/cscs-eiger/system.py
  systems/generic-x86/system.py
  systems/jsc-juwels/system.py
Labels: experiment, system

#777 [WIP] Kripke: Fix CUDA version
  repo/kripke/package.py
Labels: application

#782 Fix ad
  systems/llnl-cluster/system.py
  systems/llnl-elcapitan/system.py
Labels: system

#761 Benchpark Analyze Command for Canned Analysis
  .github/workflows/requirements/docs.txt
  .gitlab/tests/test.yml
  .gitlab/utils/run-experiment.yml
  docs/_static/images/kripke_cuda_strong_percentage_time_exc.png
  docs/_static/images/kripke_cuda_strong_time_exc.png
  docs/_static/images/kripke_cuda_strong_time_inc.png
  docs/_static/images/kripke_cuda_throughput_percentage_time_exc.png
  docs/_static/images/kripke_cuda_throughput_time_exc.png
  docs/_static/images/kripke_cuda_weak_percentage_time_exc.png
  docs/_static/images/kripke_cuda_weak_time_exc.png
  docs/benchpark-analyze.rst
  docs/index.rst
  lib/benchpark/cmd/analyze.py
  lib/main.py
  pyproject.toml
Labels: docs, feature, ci, ready for review, dependencies

#780 Update Affinity Modifier
  .github/workflows/run.yml
  docs/modifiers.rst
  experiments/saxpy/experiment.py
  lib/benchpark/affinity.py
  lib/benchpark/experiment.py
  modifiers/affinity/modifier.py
  modifiers/affinity/parse_affinity_log.py
Labels: docs, feature, experiment, ci, ready for review

#697 Features/build instructions
  docs/index.rst
  docs/showBuild.rst
  lib/benchpark/cmd/show_build.py
  lib/benchpark/runtime.py
  lib/main.py
  lib/scripts/determine-exp.py
Labels: docs, feature, changes requested

#620 benchpark mirror
  .codespellignore
  .github/workflows/docs.yml
  .github/workflows/style.yml
  docs/create-mirror.rst
  docs/index.rst
  lib/benchpark/cmd/mirror.py
  lib/main.py
  lib/scripts/env-collect-branch-tips.py
Labels: docs, feature, changes requested, ci

#792 Added missing return keyword
  lib/benchpark/spec.py
Labels: bug

#795 Correct diffBuildSpecs.py References
  docs/diffExperimentBuilds.rst
  lib/scripts/diffExperimentBuilds.py
Labels: bug, docs, feature, ready for review

#796 Adds file and line number info to debug statements
  lib/benchpark/debug.py
  lib/benchpark/runtime.py
Labels: feature, ready for review
